body {
  background-color: #C4A484;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
  height: auto;
  width: 100%;
  border-radius: 20px;
}

.image {
  display: flex;
  justify-content: center;
}

.nav-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.linked-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#btn1, #btn2 {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #fff;
  background: #ff6a24;
  line-height: 1.15;
  font-size: 16px;
}

#btn1:hover, #btn2:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #ec720d;
}

.body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 25px;
}

.outside {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main-body {
  max-width: 450px;
  background-color: white;
  border: 5px solid grey;
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 0;
  color: #fdad5c;
}

.name-header, .subtitle-header {
  margin-bottom: 0;
}

.email-header {
  margin-bottom: 20px;
}

.name-header, .subtitle-header, .email-header {
  color: rgb(83, 83, 83);
}

p {
  color:rgb(63, 63, 63)
}

.linked-buttons-two {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: grey;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  height: 60px;
  padding-top: 25px;
  padding-bottom: 15px;
}

#btn3, #btn4, #btn5 {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 2px solid white;
  color: white;
  background: grey;
  line-height: 1.15;
  font-size: 20px;
}

#btn3:hover, #btn4:hover, #btn5:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px darkgray;
}